body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#drawingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: none;
    border-width: 3px;
    border-radius: 7px;
    border-style: solid;
    margin: 25px;
    max-width: max-content;
}

#drawing {
    background-color: rgba(200, 200, 200, 0.5);
    margin-bottom: 0px;
}

#colors {
    display: grid;
    grid-template-columns:repeat(17,1fr);
}

#settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.color {
    display:inline;
    width: 50px;
    height: 50px;
    border: solid orangered 1px;
    border-radius: 100%;
    margin: 5px;
    cursor: pointer;
}

.selectedColor {
    color: white;
    border-style: solid;
    background-color: orangered;
    border-radius: 5px;
    z-index: 2;
}

svg {
    margin: 0px;
}

@media only screen and (pointer: coarse) and (hover: none)
{
    .color
    {
        width: 125px;
        height: 125px;
    }
}