* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

p {
    color: black;
    font-size: 110%;
    text-shadow: 1px 1px 7px white;
    font-weight: bold;
    font-family: calibri;
    margin-left: 50px;
    margin-right: 100px;
}

body {
    color: white;
    font-family: arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-attachment: fixed;
}

ol {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    padding: 15px 20px;
    margin: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 0px;
    background: transparent;
    position: relative;
    transition: all .2s;
    overflow: hidden;
    color: #fff;
    border-radius: 30px;
}

.next {
    position: fixed;
    right: 0;
    bottom: 0;
}

.back {
    position: fixed;
    left: 0;
    bottom: 0;
}

.return {
    position: fixed;
    left: 0;
    top: 0;
}

button::after {
    content: '';
    width: 450px;
    height: 450px;
    position: absolute;
    top: -50px;
    left: -100px;
    background-image: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
    z-index: -1;
    transition: all .5s;
}

button:hover::after {
    transform: rotate(150deg);
}

button:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0px rgba(143, 64, 248, .25), -10px 10px 25px 0px rgba(39, 200, 255, .25);
}


a {
    color: white;
    text-decoration: none;
}

h1 {
    border: 3px solid black;
    padding: 5px;
    font-size: 3rem;
    margin: 25px;
}

h2 {
    font-size: 20px;
    font-family: Tahoma, Geneva, sans-serif;
    color: black;
}

h3 {
    position: absolute;
    text-align: right;
    right: 0vw;
    top: 0vh;
    margin: 10px;
}

h4 {
    text-align: center;
    transition: all .4s;
    color: black;
    text-shadow: 1px 1px 5px whitesmoke;
    font-weight: bold;
    font-family: calibri;
    font-size: x-large;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

h4:hover {
    background-color: gold;
    text-shadow: none;
}

.txt {
    margin: 0px;
    transition: all .4s;
    color: transparent;
    font-size: large;
    font-weight: bold;
    font-family: calibri;
    text-shadow: none;
    position: absolute;
    background: transparent;
    border-radius: 10px;
    padding: 0px 5px;
    z-index: 10;
}

.txt.appear {
    color: black;
    background: grey;
    transform: translateY(-30px);
}

.txt::after {
    position: absolute;
    left: 50%;
    margin: 0px -8px;
    bottom: -16px;
    transition: all .4s;
    content: "";
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid transparent;
}

.txt.appear::after{
    border-top: 16px solid grey;
}

#anim {
    transition: all .4s;
    height: 150vh;
    position: fixed;
    z-index: 2;
    top: -25vh;
}

span{
    text-decoration: underline limegreen 2.5px;
}

span::before{
    content: '« ';
}

span::after{
    content: ' »';
}

.end
{
    opacity: 0;
    padding-bottom: 50px;
}

img{
    cursor: pointer;
}

img#anim{
    cursor: default;
}